<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Conversor de temperaturas</h2>
    </div>
    <div class="row flex">
      <div class="col-lg-6">
        <mat-form-field appearance="fill">
          <mat-label>Converter de:</mat-label>
          <mat-select>
            <mat-option value="one">Celsius</mat-option>
            <mat-option value="two">Kelvin</mat-option>
            <mat-option value="three">Fahrenheit</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-form-field appearance="fill">
          <mat-label>Converter de:</mat-label>
          <mat-select>
            <mat-option value="one">Celsius</mat-option>
            <mat-option value="two">Kelvin</mat-option>
            <mat-option value="three">Fahrenheit</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    </div>

    <button mat-raised-button color="primary">Converter Temperatura</button>
  </div>
</div>
